@import url(reset.css);

body
{
	background-color:#A0A0A0;
}
#wrapper
{
	width: 80%;
	margin:auto;
	background-color: white;
	font-family:"Lucida Grande", Times, serif;
	font-size:1em;
	line-height:1.5em;
	overflow:auto;
}

/*styling main content*/
#text
{
	margin-left:2em;
	margin-right:2em;
	clear:both;
}
header
{
	height: 130px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:auto;
}
header h1
{
	font-size:26px;
	color:#FF6600;
	top:50px;
	left:50px;
	position:relative;
}
header a
{
	font-family:"Times New Roman", Times, serif;
}
#login
{
	float:right;
}

/*styling horizontal navigation*/
nav
{
	margin-left:20%;
	margin-right:12%;
	text-align:center;
}
nav a
{
	float:left;
	margin-left:2em;
	text-align:center;
	text-transform:uppercase;
	color:#FF9900;
	text-decoration:none;
}
nav a:hover
{
	display: block;
	background-color:#FF9900;
	color: #FFFFFF;
}
.eventName
{
	padding-bottom:30px;
}
section img, #nearbyEvents img, #savedEvents img
{
	width:26%;
	height: 30%;
	float:left;
	clear:left;
	padding-right:24px;
}
section
{
	margin-top:20px;
	width:62%;
	float:left;
}
section h1
{
	font-size:20px;
	color:#FF6600;
}
section h3
{
	font-size:18px;
	margin-bottom:5px;
}
section p
{
	font-size:12px;
}
aside
{
	margin-top:20px;
	width:37%;
	float:left;
	text-align:center;
}

footer
{
	clear:left;
	border-top: 0.1em solid black;
    background-color:rgb(166,102,12);	
    color: #FFFFFF;
    margin: 2em 0 0;
    text-align: center;
    line-height:1.5em;
    clear:both;
}


