@import url(reset.css);

body
{
	background-color:#A0A0A0;
}
#wrapper
{
	width: 80%;
	margin:auto;
	background-color: white;
	font-family:"Lucida Grande", Times, serif;
	font-size:1em;
	line-height:1.5em;
}

/*styling main content*/
#text
{
	margin-left:2em;
	margin-right:2em;
	clear:both;
}
header
{
	height: 130px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
}
header h1
{
	font-size:26px;
	color:#FF6600;
	top:50px;
	left:50px;
	position:relative;
	width:60%;
}
header a
{
	font-family:"Times New Roman", Times, serif;
}
#login
{
	float:right;
}

/*styling horizontal navigation*/
nav
{
	margin-left:20%;
	margin-right:12%;
	text-align:center;
}
nav a
{
	float:left;
	margin-left:2em;
	text-align:center;
	text-transform:uppercase;
	color:#FF9900;
	text-decoration:none;
}
nav a:hover
{
	display: block;
	background-color:#FF9900;
	color: #FFFFFF;
}
/*Default Page----------------------- */
.eventName
{
	padding-bottom:30px;
}
section img, #savedEvents img, #results img
{
	width:150px;
	height:100px;
	float:left;
	clear:left;
	padding-right:24px;
}
#nearbyEvents img, #savedEvents img
{
	width:100px;
	height:60px;
	padding-right:24px;
	margin-top:1%;
	margin-bottom:1%;
}

section, #results 
{
	margin-top:20px;
	width:62%;
	float:left;
}
section h1, legend
{
	font-size:20px;
	color:#FF6600;
}
/*Map page--------------------------------*/
#mapSection h1
{
	clear:left;
	padding-top:1em;
	margin-bottom:1%;
}
#mapSection h3
{
	padding-top:1%;
}
#map img
{
	width:300px;
	height:200px;
}
#map div
{
	float:left;
}
#nearbyEvents div
{
	display:inline-table;
}
#map input[type=button]
{
	height: 2.5em;
	width: 100%;
	margin-top:1%;
	margin-bottom:2%;
	cursor: pointer;
	font-size:0.9em;
	border-radius:0.4em;
	box-shadow: 0.5em 0.5em 0.5em #888888;
}
/*User Profile page--------------------------*/
#savedEvents div
{
	/*display:inline-table;*/
	clear:left;
}
section h3, #results h3
{
	font-size:18px;
	margin-bottom:5px;
}
section p
{
	font-size:12px;
}
aside
{
	margin-top:20px;
	width:37%;
	float:left;
	text-align:center;
}
/*Events Page--------------------------*/
#eventsSection, #mapSection, #createEventSection
{
	width:100%;
}
#eventName, #zip, #city, #state, #map input
{
    display: inline-block;
    clear: left;
    width: 150px;
    height:20px;
    clear:left;
    margin-top:1%;
    font-size:0.9em;
}
#chkbx1, #chkbx2
{
	clear:left;
}
input[type=checkbox]
{
	margin-right:2em;
}
input[type=submit]
{
	height: 2.2em;
	margin-top:1%;
	margin-bottom:2%;
	cursor: pointer;
	font-size:0.9em;
	border-radius:0.4em;
	box-shadow: 0.5em 0.5em 0.5em #888888;
}
input[type=submit]:hover, #map input[type=button]:hover
{
	color:#FF6600;
}
/*Create Events Page--------------------------------------------*/
#createEventSection label
{
	margin-left:1%;
	padding:0.7%;
	width: 11%;
	float: left;
	clear:both;
}
#createEventSection input
{
	width: 16%;
	height: 20px;
}
#createEventSection select
{
	height:2em;
	margin-bottom:8px;
	border-radius: 0px;
	width:28%;
}

footer
{
	clear:left;
	border-top: 0.1em solid black;
    background-color:rgb(166,102,12);	
    color: #FFFFFF;
    margin: 2em 0 0;
    text-align: center;
    line-height:1.5em;
    clear:both;
}


